%table#expenses
  %tr
    %th#date Date
    %th Amount
    %th Category

  - @transactions.order('date desc').each do |transaction|
    %tr
      %td= pretty_date transaction.date
      %td= humanized_money_with_symbol transaction.amount
      %td= transaction.category.try(:name)
