// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#expenses th#date {
  /*width: 8em;*/
}

table {
  width: 100%;
}

input.success {
  border-color: green;
  background-color: lightgreen;
}
