%table
  %tr
    %th Name
    %th Spend
    %th Left

  - @categories.each do |category|
    %tr
      %td= link_to category.name.capitalize, category
      %td= currency_symbol + category.spend(@date)
      %td= currency_symbol + category.remaining(@date)
